*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
}

body {
	height: 100%;
	font-family: "Inter", sans-serif;
	background: rgb(254, 236, 233);
	background: linear-gradient(
		38deg,
		rgba(254, 236, 233, 1) 12%,
		rgba(255, 255, 255, 1) 48%,
		rgba(241, 235, 250, 1) 89%
	);
}

main {
	padding-left: 5rem;
	padding-right: 5rem;
}

nav {
	display: flex;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	padding: 1.5rem;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: transparent;
	box-shadow: 0 2px 10px -6px #919090;
}

/* NAV BAR */

nav ul {
	display: flex;
	flex-direction: row;
	gap: 5rem;
	justify-content: center;
	list-style-type: none;
	color: #3f3d56;
	font-weight: 500;
}

nav li {
	transition: all 0.3s ease-in-out;
}

nav li:hover {
	color: #f77687;
	cursor: pointer;
}

/* HOME PAGE */

.home {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.home-wrap {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5rem;
}

.home-wrap img {
	width: 100%;
	height: 100%;
	max-width: 30rem;
}

.home-title {
	display: flex;
	flex-direction: column;
	gap: 1.6rem;
}

.home-title h1 {
	font-size: 3rem;
	color: #f77687;
}

#icon {
	margin-right: 0.8rem;
}

.home-title h2 {
	opacity: 90%;
	font-size: 1.5rem;
	color: #3f3d56;
	font-weight: 500;
}

.home-title p {
	opacity: 80%;
	color: #3f3d56;
	max-width: 30rem;
	line-height: 2.4rem;
	font-weight: 500;
	font-size: 1.1rem;
}

.links {
	display: flex;
	gap: 2.5rem;
	list-style-type: none;
}

.links a {
	font-size: 1.5rem;
	color: #3f3d56;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.links a:hover {
	color: #f77687;
	cursor: pointer;
	transform: translateY(-2px);
}

/* ARROW (Part of home) */

#arrow_down {
	color: #f77687;
	font-size: 1.4rem;
	position: absolute;
	bottom: 60px;
	animation-name: arrow_down;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}

@keyframes arrow_down {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 10px);
	}
	to {
		transform: translate(0, -0px);
	}
}

#arrow_down:hover {
	cursor: pointer;
}

/* ABOUT PAGE */

.about {
	height: 100vh;
	padding-top: 10rem;
	padding-bottom: 10rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 4rem;
}
.about-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5rem;
}

.about-title {
	display: flex;
	flex-direction: column;
	max-width: 40rem;
	gap: 1rem;
}

.about-title h2 {
	font-size: 2rem;
	color: #3f3d56;
}

.about-title p {
	opacity: 80%;
	color: #3f3d56;
	line-height: 2.4rem;
	font-weight: 500;
	font-size: 1.1rem;
}

.about img {
	border: 2px solid #fdccd3;
	padding: 0.3rem;
	border-radius: 100%;
	height: 100%;
	width: 100%;
	max-height: 14rem;
	max-width: 14rem;
	object-fit: cover;
	transition: all 0.2s ease-in-out;
}

.about img:hover {
	border: 2px solid #f8afb8;
}

mark {
	background-color: transparent;
	color: #f77687;
}

/* LINE */

.line {
	margin: auto;
	border-width: 0;
	height: 2px;
	border-width: 0;
	background-color: #ffe0e4;
	max-width: 15rem;
	width: 100%;
}

/* ABOUT PAGE - SKILLS */

.skill_wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 0.8rem;
	transition: all 0.2s ease-in-out;
}

.skill_wrap:hover {
	cursor: default;
	transform: translateY(-4px);
}

.skill_icon {
	width: 2.3rem;
	height: 2.3rem;
	color: #f77687;
}

.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills h3 {
	color: #3f3d56;
	font-size: 1.8rem;
	transition: all 0.2s ease-in-out;
}

.skills_wrapper {
	flex-wrap: wrap;
	margin-top: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
	gap: 4rem;
}

.skills li {
	display: inline-block;
	padding: 0.3rem;
	transition: all 0.2s ease-in-out;
	color: #3f3d56;
	opacity: 80%;
	font-weight: 500;
	font-size: 1.1rem;
}

/* CONTACT */

.contact {
	background-color: #fdeced;
	padding: 3rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 5rem;
}

.contact-title {
	display: flex;
	flex-direction: column;
	max-width: 25rem;
	gap: 1.6rem;
}

.contact-title h2 {
	color: #f77687;
	font-size: 1.9rem;
}

.contact-title p {
	color: #3f3d56;
	font-size: 1.1rem;
	line-height: 2rem;
	font-weight: 500;
}

form.contact-form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	justify-content: center;
	align-items: center;
	width: 40%;
}

input {
	font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	font-size: 1rem;
	width: 100%;
	padding: 1rem;
	background: #fdf7f8;
	outline: none;
	border: 2px solid #f77687;
	border-radius: 0.8rem;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
	will-change: transform;
}

input:focus {
	box-shadow: 0 0 0 calc(3px + 0px) rgba(247, 118, 135, 0.25);
}

textarea {
	font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	width: 100%;
	padding: 1rem;
	background: #fdf7f8;
	outline: none;
	border: 2px solid #f77687;
	border-radius: 0.9rem;
	height: 8rem;
	font-size: 1rem;
	font-weight: 500;
	transition: all 0.2s ease-in-out;
	will-change: transform;
	resize: none;
}

textarea:focus {
	box-shadow: 0 0 0 calc(3px + 0px) rgba(247, 118, 135, 0.25);
}

.submit {
	font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	padding: 1rem 3.5rem;
	outline: none;
	cursor: pointer;
	background-color: #f77687;
	border-radius: 0.9rem;
	font-size: 1rem;
	font-weight: 600;
	color: white;
	transition: all 0.2s ease-in-out;
	will-change: transform;
	border: 0;
}

.submit:hover {
	box-shadow: 0 0 0 calc(3px + 0px) rgba(247, 118, 135, 0.25);
}

/* FOOTER */

footer {
	color: white;
	background-color: #f77687;
	display: flex;
	justify-content: center;
	padding: 1.5rem;
	text-align: center;
}

/* MEDIA QUERIES*/

@media only screen and (max-width: 1000px) {
	.home {
		padding-top: 7rem;
		height: auto;
	}

	.home-wrap {
		flex-direction: column-reverse;
		text-align: center;
		gap: 3rem;
	}

	.home-wrap img {
		max-width: 20rem;
	}

	.home-title h1 {
		font-size: 2.5rem;
	}

	.links {
		justify-content: center;
	}

	#arrow_down {
		display: none;
	}

	.about {
		text-align: center;
		height: auto;
		padding-top: 10rem;
	}

	.about-wrap {
		flex-direction: column;
		gap: 3rem;
	}

	.about img {
		max-height: 12rem;
		max-width: 12rem;
	}

	.contact {
		justify-content: center;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
}

@media only screen and (max-width: 900px) {
	form.contact-form {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	main {
		padding-left: 1rem;
		padding-right: 1rem;
	}

	.about {
		gap: 5rem;
	}
}
