*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

:root {
  --ti-color: #3f3d56 !important;
  --ti-font-weight: 500 !important;
}

body {
  height: 100%;
  font-family: "Inter", sans-serif;
}

/* Dark mode styles */
.background-light {
  background: #feece9;
  background: linear-gradient(38deg, #feece9 12%, white 48%, #f1ebfa 89%);
  transition: all 0.2s ease-in-out;
}

.background-dark {
  transition: all 0.2s ease-in-out;
  background-color: #131313;
}

.text-dark-mode {
  color: white !important;
  opacity: 90%;
}

/* Main styles */
main {
  padding-left: 5rem;
  padding-right: 5rem;
}

.links {
  display: flex;
  gap: 2.5rem;
  list-style-type: none;
}
.links a {
  font-size: 1.5rem;
  color: #3f3d56;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.links a:hover {
  color: #f77687;
  cursor: pointer;
  transform: translateY(-2px);
}

.icon {
  margin-right: 0.6rem;
}

/* NAV BAR */
nav {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 1.5rem;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: transparent;
  box-shadow: 0 2px 10px -6px #919090;
}
nav ul {
  display: flex;
  flex-direction: row;
  gap: 5.5rem;
  justify-content: center;
  list-style-type: none;
  color: #3f3d56;
  font-weight: 600;
}
nav ul li {
  transition: all 0.3s ease-in-out;
}
nav ul li:hover {
  color: #f77687;
  cursor: pointer;
}
nav .emma {
  display: flex;
  gap: 0.2rem;
  position: fixed;
  left: 60px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #f77687;
}
nav .light-bulb {
  font-size: 1.6rem;
  color: #3f3d56;
  position: fixed;
  right: 60px;
  transition: all 0.2s ease-in-out;
}
nav .light-bulb:hover {
  color: #f77687;
  cursor: pointer;
}
nav .dark-bulb {
  font-size: 1.6rem;
  color: #f77687;
  position: fixed;
  right: 60px;
  transition: all 0.2s ease-in-out;
}
nav .dark-bulb:hover {
  color: #3f3d56;
  cursor: pointer;
}

.nav-dark {
  box-shadow: 0 2px 10px -6px black !important;
}

/* HOME PAGE */
.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5rem;
}
.home-wrap img {
  width: 100%;
  height: 100%;
  max-width: 32rem;
}
.home-wrap .home-title {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.home-wrap .home-title h1 {
  font-size: 3rem;
  color: #f77687;
}
.home-wrap .home-title h2 {
  font-size: 1.5rem;
  color: #3f3d56;
  font-weight: 600;
}
.home-wrap .home-title p {
  color: #666579;
  max-width: 30rem;
  line-height: 2.4rem;
  font-weight: 500;
  font-size: 1.1rem;
}

/* ARROW (Part of home) */
#arrow_down {
  color: #f77687;
  font-size: 1.4rem;
  position: absolute;
  bottom: 60px;
  -webkit-animation-name: arrow_down;
          animation-name: arrow_down;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
@-webkit-keyframes arrow_down {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, 0px);
  }
}
@keyframes arrow_down {
  from {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 10px);
  }
  to {
    transform: translate(0, 0px);
  }
}
#arrow_down:hover {
  cursor: pointer;
}

/* ABOUT PAGE */
.about {
  height: 100vh;
  padding-top: 10rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* ABOUT PAGE - SKILLS */
}
.about .about-container {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
.about img {
  border: 2px solid #fdccd3;
  padding: 0.3rem;
  border-radius: 100%;
  height: 100%;
  width: 100%;
  max-height: 14rem;
  max-width: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-in-out;
}
.about img:hover {
  border: 2px solid #f8afb8;
}
.about .line {
  margin: auto;
  border-width: 0;
  height: 2px;
  border-width: 0;
  background-color: #ffe0e4;
  max-width: 15rem;
  width: 100%;
}
.about .line-dark {
  opacity: 30% !important;
}
.about .skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .skills h3 {
  color: #3f3d56;
  font-size: 1.8rem;
  transition: all 0.2s ease-in-out;
}
.about .skills .skills_wrapper {
  flex-wrap: wrap;
  max-width: 35rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 3.5rem;
}
.about .skills .skills_wrapper .skill_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.about .skills .skills_wrapper .skill_wrap:hover {
  cursor: default;
  transform: translateY(-4px);
}
.about .skills .skills_wrapper .skill_wrap .skill_icon {
  width: 2.3rem;
  height: 2.3rem;
  color: #f77687;
}
.about .skills .skills_wrapper .skill_wrap li {
  display: inline-block;
  padding: 0.3rem;
  transition: all 0.2s ease-in-out;
  color: #3f3d56;
  opacity: 80%;
  font-weight: 500;
  font-size: 1rem;
}

.about-wrap {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.about-wrap .about-title {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  gap: 1rem;
}
.about-wrap .about-title h2 {
  font-size: 2rem;
  color: #3f3d56;
}
.about-wrap .about-title p {
  color: #666579;
  line-height: 2.4rem;
  font-weight: 500;
  font-size: 1.1rem;
}

mark {
  background-color: transparent;
  color: #f77687;
}

/* CONTACT */
.contact {
  background-color: #fdeced;
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 5rem;
}
.contact .contact-title {
  display: flex;
  flex-direction: column;
  max-width: 25rem;
  gap: 1.6rem;
}
.contact .contact-title h2 {
  color: #f77687;
  font-size: 1.9rem;
}
.contact .contact-title p {
  color: #3f3d56;
  font-size: 1.1rem;
  line-height: 2rem;
  font-weight: 500;
}

form.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 40%;
}
form.contact-form input {
  font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  width: 100%;
  padding: 1rem;
  background: #fdf7f8;
  outline: none;
  border: 2px solid #f77687;
  border-radius: 0.8rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  will-change: transform;
}
form.contact-form input:focus {
  box-shadow: 0 0 0 calc(3px + 0px) rgba(247, 118, 135, 0.25);
}
form.contact-form textarea {
  font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  width: 100%;
  padding: 1rem;
  background: #fdf7f8;
  outline: none;
  border: 2px solid #f77687;
  border-radius: 0.9rem;
  height: 8rem;
  font-size: 1rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  will-change: transform;
  resize: none;
}
form.contact-form textarea:focus {
  box-shadow: 0 0 0 calc(3px + 0px) rgba(247, 118, 135, 0.25);
}
form.contact-form .submit {
  font-family: "Inter var", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 1rem 3.5rem;
  outline: none;
  cursor: pointer;
  background-color: #f77687;
  border-radius: 0.9rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  transition: all 0.2s ease-in-out;
  will-change: transform;
  border: 0;
}
form.contact-form .submit:hover {
  box-shadow: 0 0 0 calc(3px + 0px) rgba(247, 118, 135, 0.25);
}

.contact-dark {
  background-color: #1b1b1b;
  transition: all 0.3s ease-in-out;
}

/* FOOTER */
footer {
  color: white;
  background-color: #f77687;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  text-align: center;
}

/* MEDIA QUERIES*/
@media only screen and (max-width: 1000px) {
  .home {
    padding-top: 7rem;
    height: auto;
  }
  .home .home-wrap {
    flex-direction: column-reverse;
    text-align: center;
    gap: 3rem;
  }
  .home .home-wrap img {
    max-width: 20rem;
  }
  .home .home-title h1 {
    font-size: 2.5rem;
  }

  .links {
    justify-content: center;
  }

  #arrow_down {
    display: none;
  }

  .about {
    text-align: center;
    height: auto;
    margin-top: -2rem;
  }
  .about img {
    max-height: 12rem;
    max-width: 12rem;
  }
  .about .about-wrap {
    flex-direction: column;
    gap: 3rem;
  }

  .contact {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  form.contact-form {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  main {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about {
    gap: 5rem;
  }
}/*# sourceMappingURL=home.css.map */